<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shawerni">

<uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity2"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
<activity android:name=".RegisterActivity"></activity>

     <activity android:name=".LoginActivity"></activity>
        <activity android:name=".language"></activity>

        <activity android:name=".Add_Consultation"></activity>
        <activity android:name=".free_Consultation"></activity>
        <activity android:name=".paid_consultation"></activity>
        <activity android:name=".Registeration_sections"></activity>
        <activity android:name=".RegisterCon_Activity"></activity>
        <activity android:name=".MainListActivity"></activity>
        <activity android:name=".ListdataActivity"></activity>
        <activity android:name=".selection_page"></activity>
        <activity android:name=".NewResivActivity"></activity>
        <activity android:name=".MainActivity_Con"></activity>
        <activity android:name=".LoginActivity_Con"></activity>
        <activity android:name=".payment_information"></activity>

        <activity android:name=".answer">


        </activity>

<activity android:name=".ForUser"></activity>
        <activity android:name=".ConsultantNewVersion"></activity>
        <activity android:name="MyReclyecon"></activity>
    </application>


</manifest>